@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #000000;
  color-scheme: dark;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.shadow-inner-blue {
  box-shadow: inset 0 0 15px rgba(0, 229, 255, 0.15);
}

.shadow-inner-amber {
  box-shadow: inset 0 0 15px rgba(255, 171, 0, 0.15);
}
